[submodule "src/ros2_controllers"]
	path = src/ros2_controllers
	url = https://github.com/sp-sophia-labs/ros2_controllers.git
[submodule "src/ros2_control"]
	path = src/ros2_control
	url = https://github.com/sp-sophia-labs/ros2_control.git
[submodule "src/gz_ros2_control"]
	path = src/gz_ros2_control
	url = https://github.com/sp-sophia-labs/gz_ros2_control.git
[submodule "src/create3_sim"]
	path = src/create3_sim
	url = https://github.com/sp-sophia-labs/create3_sim.git
[submodule "src/rclcpp"]
	path = src/rclcpp
	url = https://github.com/sp-sophia-labs/rclcpp.git
[submodule "src/turtlebot4_simulator"]
	path = src/turtlebot4_simulator
	url = https://github.com/sp-sophia-labs/turtlebot4_simulator.git
[submodule "src/turtlebot4"]
	path = src/turtlebot4
	url = https://github.com/sp-sophia-labs/turtlebot4.git
[submodule "src/turtlebot4_desktop"]
	path = src/turtlebot4_desktop
	url = https://github.com/sp-sophia-labs/turtlebot4_desktop.git
